body{
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}
header {
    width: 100%;
    height: 100%;
}
.header-container{
    background-image: url('images/mobile/image-hero.jpg');
    background-color: plum;
    background-blend-mode: multiply;
    padding: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-inner {

}
nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 2rem;
}
#logo-main{
    cursor: pointer;
    position: relative;
    z-index: 10;
}
#close{
    position: relative;
    z-index: 10;
}
.mb-navbar {
    position: absolute;
    background-color: black;
    inset: 0;
    display: grid;
    justify-items: start;
    align-items: center;
    padding: 2rem 1rem;
    min-height: 100vh;
}
.mb-navbar > ul {
    color: white;
    display: grid;
    gap: 2rem;
    font-size: 1.75rem;
}
.desktop-nav {
    display: none;
}
.desktop-nav > ul {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.desktop-nav > ul > li{
    padding: 0.5rem;    
}
.tagline {
    display: grid;
    padding: 8rem 0;
    margin: 0 auto;
}
.tagline > div {
    border-width: 2px;
    border-color: white;
    color: white;
    padding: 2rem;
}
.tagline h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}
.first-section {
    padding: 2.5rem 1.25rem;
    margin: 4rem auto 0;
    text-align: center; 
}
.first-section img {
    margin: 0 auto;
}
.detail {
    padding: 0 0.75rem;
    margin-top: 8rem;
    background-color: white;
}
.detail > h2 {
    font-size: 2.25rem;
    text-transform: uppercase;
    color: rgb(17 24 39);
    font-family: 'Josefin Sans', sans-serif;
}
.detail > p {
    margin-top: 1.25rem;
    color: rgb(107 114 128);
    font-family: 'Alata', sans-serif;
}
.second-section {
    padding: 2.5rem 1.25rem;
    margin: 4rem auto 0;
    font-family: 'Josefin Sans', sans-serif;
}
.creations >h2 {
    font-size: 2.25rem;
    text-align: center;
    text-transform: uppercase;
    color:  rgb(17 24 39);
}
.creations > div {
    cursor: pointer;
    display: none;
}
.seeAll{
    border: 1px solid black;
    padding: 0.75rem 0.5rem;
    width: 50%;
    text-align: center;
}
.seeAll:hover {
    color: white;
    background-color: black;
}
.seeAll > h3 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
}
.gallery {
    display: grid;
    gap: 1.5rem;
    margin-top: 4rem auto 0;
}
.picture{
    position: relative;
    display: grid;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
    /* justify-items: center; */
}
.desk-img{
    display: none;
}

@media (min-width: 1000px) {
    body {
        max-width: 80rem;
        margin: 0 auto;
    }
    .header-container{
        background-image: url('images/desktop/image-hero.jpg');
        background-size: contain;
    }
    .header-inner{
        max-width: 70rem;
        margin: 0 auto;
    }
    .mb-nav-main{
        display: none;
    }
    .desktop-nav {
        display: flex;
    }
    .uline:hover {
        background-image: linear-gradient(white, white);
        background-position: bottom center;
        background-size: 40% 2px;
        background-repeat: no-repeat;
    }
    .tagline {
        padding: 3rem 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .tagline h1 {
        font-size: 4rem;
    }
    .first-section {
        max-width: 70rem;
        display: flex;
    }
    .detail{
        margin-left: -9rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: left;
        padding-left: 5rem;
    }
    .second-section{
        max-width: 70rem;  
    }
    .creations {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .creations > h2 {
        text-align: left;
    }
    .creations > div {
        display: inline-block;
        width: 16rem;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(4, minmax(0,1fr));
    }
    .mb-img {
        display: none;
    }
    .desk-img {
        display: inline-block;
    }
}